
/*
  $background,
  $border,
  $color,

  $hover-background,
  $hover-border,
  $hover-color,

  $active-background,
  $active-border,
  $active-color,

  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)

*/

.dc-btn--green {
  background-color: #03ef62;
  border-color: #03ef62;
  color: #05192d;
}

.dc-btn--green:active, .dc-btn--green:focus, .dc-btn--green:hover {
  background-color: #65ff8f;
  border-color: #65ff8f;
  color: #05192d;
}

.btn--lg, .dc-btn--lg {
  padding: 15px 30px;
  font-size: 1.267rem;
}

.dc-btn {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  justify-content: center;
  letter-spacing: inherit;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  transition: background-color .3s, border-color .3s, color .3s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  user-select: none;
  white-space: nowrap;
}

.dc-link {
  border-bottom: 1px solid transparent;
  color: #007bb6;
  font-weight: 800;
  text-decoration: none;
  transition: border-color .3s cubic-bezier(.77, 0, .175, 1);
}

.btn-green {
  @extend .btn;
  @include button-variant(
                  $m-green, $m-green, $dark,
                  $l-green, $l-green, $dark,
                  $l-green, $l-green, $dark
  );
}

.btn-yellow {
  @extend .btn;
  @include button-variant(
                  $m-yellow, $m-yellow, $dark,
                  $l-yellow, $l-yellow, $dark,
                  $l-yellow, $l-yellow, $dark
  );
}

.btn-out {
  @extend .btn;
  @include button-variant(
                  transparent, $dark, $dark,
                  rgba($dark, .15), $dark, $dark,
                  rgba($dark, .15), $dark, $dark
  );
  &.invert {
    @include button-variant(
                    transparent, $white, $white,
                    rgba($white, .15), $white, $white,
                    rgba($white, .15), $white, $white
    );
    &.h-green {
      &:hover {
        background-color: rgba($m-green, .15);
        border-color: $m-green;
      }
    };
    &.h-yellow {
      &:hover {
        background-color: rgba($m-yellow, .15);
        border-color: $m-yellow;
      }
    }
  }
}

.btn-dark {
  &:hover, &:active, &:focus{
    background-color: $dark-hover;
    border-color: $dark-hover;
  }
}
