
.dc-btn--green {
  background-color: #03ef62;
  border-color: #03ef62;
  color: #05192d;
}

.dc-btn--green:active, .dc-btn--green:focus, .dc-btn--green:hover {
  background-color: #65ff8f;
  border-color: #65ff8f;
  color: #05192d;
}

.btn--lg, .dc-btn--lg {
  padding: 15px 30px;
  font-size: 1.267rem;
}

.dc-btn {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
  justify-content: center;
  letter-spacing: inherit;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  transition: background-color .3s, border-color .3s, color .3s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  user-select: none;
  white-space: nowrap;
}

.dc-link {
  border-bottom: 1px solid transparent;
  color: #007bb6;
  font-weight: 800;
  text-decoration: none;
  transition: border-color .3s cubic-bezier(.77, 0, .175, 1);
}