.http-error {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  align-items: center;
  .error-status {
    margin-top: 20vh;
  }
}
.error-text, .color-text {
  font-size: 3.5rem;
  font-weight: bolder;
  background-image: linear-gradient(90deg, #ff4088, #f44);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}