@import "~bootstrap/scss/functions";

$white: #fff;

$blue-300: #06bdfc;   // background, border-bottom, fill
$blue-400: #009bd8;   // link color - primary ???
$blue-500: #007bb6;
$blue-600: #0075ad;
$blue-900: #213147;   // dark background

$dark: #05192d;
$dark-hover: $blue-900;

$blue: $blue-500;

$primary: $blue;
// $green: #288603;
// $green: #02953D;
$green: #02B34A;
// $green: #03ef62;
$yellow: #fcce0d;
$pink: #F0386B;
$purple: #a221ad;
$worry: #E81999;
$orange: #ff5400;

$brown-100: #fffbf3;
$brown-200: #f7f3eb;
$brown-300: #efebe4;
$brown-400: #e5e1da;

// INCORRECT ?
$brown-600: #59594A;
$brown-900: #2E2E2E;
// ...

$gray-50:  #F5F7FA;
$gray-100: #E4E7EB;
$gray-200: #CBD2D9;
$gray-300: #9AA5B1;
$gray-400: #7B8794;
$gray-500: #616E7C;
$gray-600: #667079;   // datacamp placeholder color
$gray-700: #3E4C59;
$gray-800: #323F4B;
$gray-900: #1F2933;
$gray-1000: #121212;

$body-bg: $brown-200;
$body-color: $dark;

$disabled-color: $brown-200;
$component-active-color: $white;
$component-active-bg: $blue-400;

/********************************
            BORDER
********************************/
$border-width: 2px;
$border-color: $brown-300;

$border-radius-xs:    .125rem;
$border-radius-sm:    .2rem;
$border-radius:       .25rem;
$border-radius-lg:    .3rem;
$border-radius-xl:    .5rem;
$border-radius-pill:  50rem;

/********************************
            Label
********************************/
$form-label-margin-bottom: .5rem;
// $form-label-font-size:      null !default;
// $form-label-font-style:     null !default;
$form-label-font-weight:    bold;
// $form-label-color:          null !default;


/********************************
      Buttons + Forms
********************************/
$input-bg: $white;
$input-transition: border-color .3s cubic-bezier(.77, 0, .175, 1);


$input-btn-padding-y: .7rem;
$input-btn-padding-x: .9rem;


$input-btn-padding-y-sm: .5rem;
$input-btn-padding-x-sm: .7rem;

$input-border-color: $brown-400;
$input-btn-border-width: 2px;

$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: none;

$input-focus-border-color: $blue-400;
$input-placeholder-color: $gray-600;

/********************************
          Button
********************************/

// $btn-padding-y: .5rem;
// $btn-padding-x: 1.5rem;
$btn-padding-y-sm: .35rem;
$btn-padding-x-sm: 1.25rem;
$btn-padding-y-lg: .75rem;
$btn-padding-x-lg: 1.875rem;

$btn-border-width: 2px;
$btn-font-weight: bold;
$btn-font-size-sm: .95rem;




/********************************
            LINK
********************************/
$link-color: $blue-400;
$link-decoration: none;


/********************************
          h1 h2 ...
********************************/
$font-size-base: 1rem;
$headings-font-weight: 800;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

/********************************
    DataCamp Colors
********************************/

$l-green: #65ff8f;
$m-green: #03ef62;

$l-yellow: #ffec3c;
$m-yellow: #fcce0d;

$font-family-sans-serif: 'Studio-Feixen-Sans', Arial, sans-serif;

//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";

