// get color var css
@function -color($color, $alpha: 1) {
  @return unquote('rgba(var(----vs-#{$color}), #{$alpha})');
}

@function -var($var) {
  @return unquote('var(----vs-#{$var})');
};

// COLORS
:root {
  --vs-primary: rgb(25, 91, 255);
  --vs-warn: rgb(255, 186, 0);
  --vs-danger: rgb(255,71,87);
  --vs-success: rgb(70,201,58);
  --vs-dark: rgb(30,30,30);
  --vs-light: rgb(244,247,248);
  --vs-color: rgb(17,18,20);

  // theme
  // --vs-background: #fff;
  // --vs-text: #2C3E50;
  //--vs-gray-1: rgb(249, 252, 253);
  //--vs-gray-2: rgb(244, 247, 248);
  //--vs-gray-3: rgb(240, 243, 244);
  //--vs-gray-4: rgb(230, 233, 234);
}
[class*="--primary"] {
  --vs-color: var(--vs-primary);
}
[class*="--default"] {
  --vs-color: var(--vs-primary);
}
[class*="--danger"] {
  --vs-color: var(--vs-danger);
}
[class*="--success"] {
  --vs-color: var(--vs-success);
}
[class*="--dark"] {
  --vs-color: var(--vs-dark);
}
[class*="--warn"] {
  --vs-color: var(--vs-warn);
}


// DARK
[--vs-theme="dark"] {


  ----vs-theme-bg: #18191c;
  ----vs-theme-color: #fff;
  ----vs-theme-layout: #1e2023;
  ----vs-theme-bg2: #141417;
  ----vs-theme-code: #141417;
  ----vs-theme-code2: #161619;

  --vs-background: rgb(30, 32, 35);
  --vs-text: #fff;
  --vs-gray-1: rgb(24, 25, 28);
  --vs-gray-2: rgb(20, 20, 23);
  --vs-gray-3: rgb(15, 16, 19);
  --vs-gray-4: rgb(10, 11, 14);
  --vs-shadow-opacity: .3;
  --vs-dark: #000;
  --vs-background-opacity: .6;
  .--vs-pagination-content {
    &.--vs-component-dark {
      .--vs-pagination__active {
        --vs-color: #fff;
        color: -color('gray-3');
      }
    }
  }
  .--vs-button {
    &.--vs-component-dark {
      &.--vs-button--transparent {
        color: -color('text') !important;
        &:hover {
          &:before {
            background: -color('color', .2);
          }
        }
        &.--vs-button--active {
          &:before {
            background: -color('color', -var('background-opacity'));
          }
        }
      }
    }
  }
  .--vs-ripple,
  .--vs-ripple-invert,
  .--vs-ripple-content {
    --vs-color: #000;
  }
  .--vs-loading {
    --vs-background: #000;
  }
  .--vs-input-parent--state-dark {
    --vs-dark: #fff !important;
    .--vs-input {
      background: #000 !important;
    }
  }
  .--vs-component-dark {
    --vs-color: #000 !important;
    .--vs-avatar {
      color: #fff !important;
    }
    &.--vs-alert {
      --vs-color: #000 !important;
      background: -color('color', 1) !important;
      color: -color('text', 1) !important;
    }
  }
}