$min-contrast-ratio: 2.5;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$gray-400: #878282;
$gray-500: #747373;
$gray-600: #5D5B5B;
$gray-700: #454444;
$gray-800: #302D2D;
$gray-900: #252323;


$dark: $gray-900;
$blue: #009FFD;


$green: #008148;
$yellow: #facd19;
$orange: #fa5f1a;
$red: #D11149;

$primary: $orange;
$secondary: #474747;
$info: $blue;

$body-color: #f7f0f0;
$body-bg: #111;


$border-width: 1px;
$border-color: $gray-800;

$link-color: $blue;

$input-bg: $body-bg;
$input-border-color: $secondary;
$input-focus-border-color: $blue;
$input-placeholder-color: $secondary;


$btn-padding-y: .35rem;
$btn-padding-x: 1.25rem;

// $btn-padding-y-sm: .75rem;
$btn-padding-x-sm: .75rem;


//$btn-padding-y-sm: .35rem;
//$btn-padding-x-sm: 1.25rem;
//$btn-padding-y-lg: .75rem;
//$btn-padding-x-lg: 1.875rem;


$form-label-color: $gray-700;
$form-label-margin-bottom: .5rem;

$border-radius-xs:    .125rem;
$border-radius-sm:    .2rem;
$border-radius:       .25rem;
$border-radius-lg:    .3rem;


$table-hover-bg: rgba($gray-800, .25);
$table-cell-padding-y: .5rem;
$table-cell-padding-x: 1rem;

/********************************
    Additional Classes
********************************/

//body:after {
//  content: '';
//  display: block;
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  background: linear-gradient(to bottom, #12181b, #111);
//  height: 300px;
//  z-index: -1;
//}

.moon-text {
  letter-spacing: 1px;
  font-weight: bolder;
  background-image: linear-gradient(to right, #901506, #EF5000);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.copy-link {
  color: #073e0a;
  &:hover, &:active {
    color: #0b5a0f;
  }
}
.color-text {
  background-image: linear-gradient(90deg, #ff4088, #f44);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}