$min-contrast-ratio: 2.5;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;



$gray-400: #878282;
$gray-500: #747373;
$gray-600: #5D5B5B;
$gray-700: #454444;
$gray-800: #302D2D;
$gray-900: #252323;
$gray-1000: #121212;

$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900,
        "1000": $gray-1000
);


$dark: $gray-900;
$blue: #009FFD;


$green: #008148;
$yellow: #facd19;
$orange: #fa5f1a;
$red: #D11149;

$primary: $orange;
$secondary: #474747;
$info: $blue;

$body-color: #f7f0f0;
$body-bg: #111;


$border-width: 1px;
$border-color: $gray-800;

$link-color: $blue;

$input-bg: $body-bg;
$input-border-color: $secondary;
$input-focus-border-color: $blue;
$input-placeholder-color: $secondary;


$btn-padding-y: .35rem;
$btn-padding-x: 1.25rem;

// $btn-padding-y-sm: .75rem;
$btn-padding-x-sm: .75rem;


//$btn-padding-y-sm: .35rem;
//$btn-padding-x-sm: 1.25rem;
//$btn-padding-y-lg: .75rem;
//$btn-padding-x-lg: 1.875rem;


$form-label-color: $gray-700;
$form-label-margin-bottom: .5rem;

$border-radius-xs:    .125rem;
$border-radius-sm:    .2rem;
$border-radius:       .25rem;
$border-radius-lg:    .3rem;


$table-hover-bg: rgba($gray-800, .25);
$table-cell-padding-y: .5rem;
$table-cell-padding-x: 1rem;

/********************************
    Additional Classes
********************************/

//body:after {
//  content: '';
//  display: block;
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  background: linear-gradient(to bottom, #12181b, #111);
//  height: 300px;
//  z-index: -1;
//}

.copy-link {
  color: #073e0a;
  &:hover, &:active {
    color: #0b5a0f;
  }
}
.moon-text-gradient {
  background-image: linear-gradient(to right, #ff0060, #ff5c00);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

}


.vuesax {
  $vs-primary: rgb(25, 91, 255);
  $vs-warn: rgb(255, 186, 0);
  $vs-danger: rgb(255,71,87);
  $vs-success: rgb(70,201,58);
  $vs-dark: rgb(30,30,30);
  $vs-light: rgb(244,247,248);
  $vs-color: rgb(17,18,20);
}