@import "animations";

/*global*/
$min-contrast-ratio: 2.5;

$white: #fff;
// $gray-100: #f8f9fa;
$gray-100: #f7f0f0;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
// $gray-400: #ced4da;
// $gray-500: #adb5bd;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
$black: #000;


$gray-400: #878282;
$gray-500: #747373;
$gray-600: #5D5B5B;
$gray-700: #454444;
$gray-800: #302D2D;
$gray-900: #252323;
$gray-1000: #121212;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
    "1000": $gray-1000
);


$dark: $gray-900;
$blue: #009FFD;


$green: #008148;
$yellow: #facd19;
$orange: #fa5f1a;
$red: #ff0060;

$primary: $orange;
$secondary: #474747;
$info: $blue;

$body-color: $gray-100;
$body-bg: $gray-1000;


$border-width: 1px;
$border-color: $gray-800;

$link-color: $blue;

$input-bg: $body-bg;
$input-disabled-bg: $gray-900;
$input-border-color: $secondary;
$input-focus-border-color: $blue;
$input-placeholder-color: $secondary;


$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;

$input-btn-padding-y-lg: .75rem;
$input-btn-padding-x-lg:  1rem;


$btn-padding-y: .35rem;
$btn-padding-x: 1.25rem;

// $btn-padding-y-sm: .75rem;
$btn-padding-x-sm: .75rem;


//$btn-padding-y-sm: .35rem;
//$btn-padding-x-sm: 1.25rem;
$btn-padding-y-lg: .75rem;
$btn-padding-x-lg: 1.875rem;


$form-label-color: $gray-400;
$form-label-font-weight: normal;
$form-label-margin-bottom: .5rem;

$border-radius-xs:    .125rem;
$border-radius-sm:    .2rem;
$border-radius:       .25rem;
$border-radius-lg:    .3rem;


$table-hover-bg: rgba($gray-800, .25);
$table-cell-padding-y: .5rem;
$table-cell-padding-x: 1rem;



$dropdown-color: $body-color;
$dropdown-bg: $body-bg;
$dropdown-border-color: $secondary;

$caret-width:                 .3em;
$caret-vertical-align:        $caret-width * .85;
$caret-spacing:               $caret-width * .85;


$zindex-sticky: 1020;
$zindex-fixed:  1030;

/********************************
    Additional Classes
********************************/

//body:after {
//  content: '';
//  display: block;
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  background: linear-gradient(to bottom, #12181b, #111);
//  height: 300px;
//  z-index: -1;
//}

.copy-link {
  color: #073e0a;
  &:hover, &:active {
    color: #0b5a0f;
  }
}
.moon-text-gradient {
  background-image: linear-gradient(to right, #ff0060, #ff5c00);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

}


//.vuesax {
//  $vs-warn: rgb(255, 186, 0);
//  $vs-success: rgb(70,201,58);
//  $vs-light: rgb(244,247,248);
//  $vs-primary: #195BFF;
//  $vs-danger: #FF4757;
//  $vs-dark: #1E1E1E;
//  $vs-color: #111214;
//}

.file-upload {
  display: block;
  margin: 0;
  text-align: center;
  padding: 4rem 7rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  color: $gray-200;
  background-color: $gray-1000;
  transition: all .35s ease-in-out;

  &:hover {
    color: $white;
  }

  input[type="file"] {
    height: 1px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
  }
}

.box-image-fit {
  display: flex;
  height: 18rem;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  cursor: pointer;
  background: $dark;
  // border-radius: $bor;

  .light-box-preview {
    height: 100%;
    width: 100%;
    img {
      display: block;
      object-fit: scale-down;
      height: 100%;
      width: 100%;
      transition: all .3s ease;
      // z-index: -1;
      pointer-events: none;
    }
  }

  &:hover {
    .light-box-preview {
      img {
        opacity: .5;
      }
    }
  }

  //&::after {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  height: 100%;
  //  width: 100%;
  //  background: $dark;
  //  z-index: -2;
  //}
}


.dropdown {
  > .btn {
    color: $dropdown-color;
    border-color: $dropdown-border-color;
    text-align: left;
    display: block;
    width: 100%;
    padding: $input-btn-padding-y $input-btn-padding-x;

  }
  > .btn-lg {
    padding: $input-btn-padding-y-lg $input-btn-padding-x-lg;
  }
  > .dropdown-toggle::after {
    margin: 0;
    position: absolute;
    right: $input-btn-padding-x;
    top: 50%;
    transform: translateY(-50%);
    // margin-right: $caret-width;

  }
}

.add-to-gallery {
  $size: 4rem;
  position: absolute;
  top: 36px;
  right: 10%;
  display: block;
  border: $border-width solid $input-border-color;
  border-radius: 50%;
  width: $size;
  height: $size;
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 3rem;
  padding: 0;
  margin: 0;
  vertical-align: center;
  background: $red;
  color: $white;

  z-index: $zindex-fixed + 10;
}