@import "fonts";
@import "init";
@import "dark";


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// scss-docs-start spacers
$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3),
        6: ($spacer * 5),
        7: ($spacer * 7),
        8: ($spacer * 10),
        9: ($spacer * 13)
    ),
    $spacers
);


/****************************************
    Gray - Color, Background, Border
*****************************************/

@each $color, $value in $grays {
    .bg-gray-#{$color} {
        background-color: $value !important;
    }
    a.bg-gray-#{$color},
    button.bg-gray-#{$color} {
        background-color: darken($value, 10%) !important;
    }
    .border-#{$color} {
        border-color: $value !important;
    }
    .text-#{$color} {
        color: $value !important;
    }
}


/********************************
    Custom Selectors
********************************/
#page-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-tooltip + 10;
    background-color: $body-bg;

    display: flex;
    justify-content: center;
    justify-items: center;
}


@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

/********************************
    Additional Classes
********************************/

%fixed-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fixed-container {
    @extend %fixed-container;
    overflow: hidden;
}
.fixed-container-scroll {
    @extend %fixed-container;
    overflow-y: scroll;
}

html, body {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    @extend %fixed-container;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
.mono {
    font-family: $font-family-monospace;
}
.sans {
    font-family: $font-family-sans-serif;
}
.text-pre {
    white-space: pre;
}
.fs-7 {
    font-size: .8125rem;
}
.fs-9 {
    font-size: 1.125rem;
}
.rounded-4 {
    border-radius: .4rem;
}
.rounded-5 {
    border-radius: .5rem;
}

.btn-block {
    display: block;
    width: 100%;
}

//************* STYLES *************/
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";

//************* Mine *************/
// @import "pagination";
@import "~bootstrap/scss/tables";
// @import "table";

@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/helpers";


//************* Mine *************/
@import "transitions";
@import "errors";
@import "miro";


.check {
    padding: $input-btn-padding-y $input-font-size $input-btn-padding-y 2.5rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.check .mark {
    width: $input-btn-padding-y + $input-font-size-sm;
    height: $input-btn-padding-y + $input-font-size-sm;
    top: $input-btn-padding-y;
    left: 0;
    position: absolute;
    background-color: $input-bg;
    border: $input-border-width solid $input-border-color;
    border-radius: $border-radius;
    transition: all .15s ease-in-out;
}
.check input:checked ~ .mark {
    border-color: transparent;
    background: $primary;
}
.check input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}



.file-upload {
    text-align: center;
    padding: 1rem 2rem;
    border: 1px dashed #424242;
    // color: #424242;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    input[type="file"] {
        cursor: pointer;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
    }
}
