@import "fonts";

/*global*/
@import "init";

/*global*/
@import "dark";

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3),
        6: ($spacer * 5),
        7: ($spacer * 7),
        8: ($spacer * 10),
        9: ($spacer * 13)
    ),
    $spacers
);

/****************************************
    Gray - Color, Background, Border
*****************************************/

@each $color, $value in $grays {
    .bg-gray-#{$color} {
        background-color: $value !important;
    }
    a.bg-gray-#{$color},
    button.bg-gray-#{$color} {
        background-color: darken($value, 10%) !important;
    }
    .border-gray-#{$color} {
        border: $border-width solid $value !important;
    }
    .text-#{$color} {
        color: $value !important;
    }
}


/********************************
    Custom Selectors
********************************/
#page-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-fixed;
    background-color: $body-bg;

    display: flex;
    justify-content: center;
    justify-items: center;
}


@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

/********************************
    Additional Classes
********************************/

%fixed-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.fixed-wrapper {
    @extend %fixed-wrapper;
    overflow: hidden;
    padding: 5rem 0;
}
.fixed-wrapper-scroll {
    @extend %fixed-wrapper;
    overflow-y: scroll;
    padding: 5rem 0;
}

html, body {
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    @extend %fixed-wrapper;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}
.mono {
    font-family: $font-family-monospace;
}
.sans {
    font-family: $font-family-sans-serif;
}
.text-pre {
    white-space: pre;
}
.fs-7 {
    font-size: .8125rem;
}
.fs-9 {
    font-size: 1.125rem;
}
.rounded-4 {
    border-radius: .4rem;
}
.rounded-5 {
    border-radius: .5rem;
}

.btn-block {
    display: block;
    width: 100%;
}

//************* STYLES *************/
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";

//************* Mine *************/
// @import "pagination";
@import "~bootstrap/scss/tables";
// @import "table";

@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/helpers";


//************* Mine *************/
@import "transitions";
@import "lightbox";
@import "errors";
@import "checkbox";



.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.tool-bar {
    display: flex;
    position: absolute;
    padding: .5rem;

    top: 0;
    right: 0;
    transition: all .3s ease;
}

.with-toolbar {
    .tool-bar {
        opacity: 0;
    }

    &:hover .tool-bar {
        opacity: 1;
    }
}