@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

.serif {
  font-family: 'Playfair Display', serif;
  // font-weight: 600;
}


.moon {

  height: 100%;
  min-height: 200vh;

  font-size: 24px;

  h1, h2, h3, h4, h5 {
    font-family: 'Arsenica', Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
  }

  header, section {
    display: flex;
    padding: 2rem;
    width: 100%;
  }

  header {

    flex-direction: column;
    align-items: center;

    min-height: 420px;
    background: transparent url("../assets/img/gold-star-map.png") no-repeat center 1rem;
    background-size: 400px;


    h1 {
      text-align: center;
      font-size: 5rem;
      line-height: 5rem;
      color: transparent;
      background: url("../assets/img/gold-01.jpeg") center 20%;
      background-clip: text;
      max-width: 280px;
    }

    .logo {
      display: block;
      width: 100%;
      height: auto;
      max-width: 180px;
      max-height: 180px;
    }
  }


  section {
    &.dark {
      background: url("../assets/img/black-paper-texture.jpeg");
      color: #ddd;

      height: 100%;
      min-height: 50vh;
      max-height: 500px;

      position: absolute;
      top: 150%;
      left: 0;
      width: 100%;
      z-index: 100;
    }
  }
}


.vh-50 {
  height: 50vh;
}
.vh-70 {
  height: 70vh;
}
.vh-80 {
  height: 80vh;
}
.vh-90 {
  height: 90vh;
}

.vh-100 {
  height: 100vh;
}

.text-gold {
  color: #9b7132;
}

.photo-01 {
  background: url("../assets/img/photo-01.png") no-repeat 54% top;
  background-size: 540px auto;
}

.branch-right {
  pointer-events: none;
  position: fixed;
  top: 30%;
  right: 0;
  width: 600px;
  height: 600px;
  background: url("../assets/img/right-branch-blur.png") no-repeat right;
  background-size: contain;
  // z-index: 100;
}


.branch-left {
  pointer-events: none;
  width: 500px;
  height: 650px;
  background: url("../assets/img/left-branch.png") no-repeat left;
  background-size: contain;
  // z-index: 100;
}