{% extends 'index.html' %}

{% block styles %}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap"
          rel="stylesheet">
    <style rel="stylesheet">
        * {
            outline: none;
        }
        :root {
            --main-pl-color: #dddddd;
            --theme-color: #00bb4c;
            --theme-color-darken: #00a444;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: var(--main-pl-color);
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: var(--main-pl-color);
        }

        :-ms-input-placeholder { /* IE 10+ */
            color: var(--main-pl-color);

        }

        :-moz-placeholder { /* Firefox 18- */
            color: var(--main-pl-color);
        }
        #fixed-container {
            background: linear-gradient(to bottom, #013243, #00242f);
        }
        .m78-card {
            color: #EEEEEE;
            background: transparent;
            margin-top: 8vh;
            width: 100%;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            font-weight: 300;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            border: none;
        }

        .theme-text-color {
            color: var(--theme-color);
        }

        h1 {
            font-size: 2.8rem;
            text-align: center;
            font-weight: 300;
        }

        .m78-login-logo {
            margin: 0 auto;
            width: 3.5rem;
            height: 3.5rem;
            background: transparent url("{{ url_for('static', path='/login-logo.png') }}") no-repeat center center;
            background-size: contain;
        }

        .m78-card-header {
            border: none;
            background: transparent;
            margin-bottom: 2rem;
            padding: .5rem 1rem;
        }

        .m78-card-body {
            flex: 1 1 auto;
            padding: 2.5rem 2.25rem;
            width: 100%;
            max-width: 380px;
            margin: 0 auto;
        }

        .m78-card-body form {
            padding: 0;
            margin: 0;
            display: block;
        }

        .m78-input {
            display: block;
            width: 100%;
            padding: 1rem 1.25rem;
            font-size: .8rem;
            font-weight: 400;
            line-height: 1;
            color: #ffffff;
            background-clip: padding-box;
            border: 1px solid transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
            font-family: 'Poppins', sans-serif;
            background-color: #1B4957;
            border-radius: .75rem;
        }

        .m78-button.m78-main {
            color: #fff;
            background-color: var(--theme-color);
        }

        .m78-button.m78-main:hover {
            background-color: var(--theme-color-darken);
        }

        .m78-button {
            width: 100%;
            border-radius: .75rem;
            display: block;
            letter-spacing: 1px;
            font-weight: 500;
            line-height: 1.5;
            color: #fff;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: .75rem 1rem;
            font-size: 1rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        footer {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 200px;
            background: transparent url("{{ url_for('static', path='/bg-waves.png') }}") no-repeat;
            z-index: -1;
        }

        .svg-01 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row no-gutters justify-content-center h-100">

            <div class="col-6 d-flex justify-content-center align-items-start position-relative h-100">
                <div id="alert" class="alert alert-danger" role="alert"></div>


                <div class="card m78-card">
                    <div class="m78-login-logo mt-3 mb-5 theme-text-color">
                        <svg height="100%" width="100%" viewBox="0 0 100 100">
                            <circle cx="20" cy="85" r="15" stroke="none" fill="currentColor"></circle>
                        </svg>
                    </div>
                    <h1 class="m78-card-header">Sign in</h1>
                    <!--<div class="m78-card-title small text-secondary">At vero eos odio cupiditate non</div>-->
                    <div class="m78-card-body">
                        <form method="post" action="/login/" autocomplete="off">
                            <div class="mb-4">
                                <input type="email" name="email" class="m78-input"
                                       autocomplete="off"
                                       autocapitalize="off"
                                       spellcheck="false"
                                       value="s10@artel.works"
                                       readonly="readonly"
                                       placeholder="Login"/>
                            </div>
                            <div class="mb-5">
                                <input type="password" name="password" class="m78-input"
                                       autocomplete="off"
                                       autocapitalize="off"
                                       spellcheck="false"
                                       readonly="readonly"
                                       placeholder="Password"
                                       value="1qw2er3ty"
                                       id="inputPassword"/>
                            </div>
                            <!--
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            -->
                            <div>
                                <button type="submit" class="m78-button m78-main">Login</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <!--
            <svg xmlns='http://www.w3.org/2000/svg' viewBox="0 10 200 100" >
                <ellipse cx="100" cy="50" rx="100" ry="50"></ellipse>
                <path d='M0 64 L64 64 L64 52 C48 54 48 58 36 56 C18 52 12 58 0 54 Z'></path>
            </svg> -->
        <!--
        <svg class="svg-01">
            <path d="M 0 0 C 25 40 100 100 25 20 L 100 100 L 400 100 Z" fill="red"></path>
        </svg>
        -->
    </footer>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
      let timer = null


      function b64_decode(code) {
        return decodeURIComponent(escape(window.atob(code)))
      }

      function handleSubmit(e) {
        e.preventDefault()
        e.stopPropagation()

        const alert = document.getElementById('alert')
        const xhr = new XMLHttpRequest()
        xhr.open('POST', '/token/obtain/', true)
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8")

        const request = JSON.stringify(
          {username: e.target.email.value, password: e.target.password.value}
        )

        xhr.onload = function () {
          if (this.status !== 200) {
            try {
              const message = JSON.parse(this.response)
              alert.innerText = message['detail']
            } catch (e) {
              alert.innerText = 'Error'
            }
            alert.classList.add('shown')
            if (!timer) {
              timer = setTimeout(function () {
                alert.classList.remove('shown')
              }, 3000)
            }
          } else {
            const resp = JSON.parse(this.response)
            if (resp && typeof resp['access_token'] !== 'undefined') {
              window.localStorage.setItem('t', resp['access_token'])
            }

            let params = new URLSearchParams(document.location.search)
            let redirectUrl = params.get('back')
            if (!redirectUrl) {
              setTimeout(function () {
                // document.location.href = '/'
              }, 1000)
            } else {
              setTimeout(function () {
                // document.location.href = redirectUrl + '?access_token=' + resp['access_token']
              }, 1000)
            }
          }
        }
        xhr.send(request)
        return false
      }

      window.addEventListener('load', function () {
        document.forms[0].addEventListener('submit', handleSubmit)
      })
    </script>
    {{ super() }}
{% endblock %}