<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.png" />
    <title>.</title>
{% block style %}
    {% for url in styles %}<link type="text/css" media="all" rel="stylesheet" href="{{ url }}"/>{{ '\n' }}{% endfor %}
{% endblock %}
</head>
<body>
{% block content %}
    <div id="app"></div>
{% endblock %}
{% block javascript %}
    {% for url in scripts %}{{ '\n' }}<script type="text/javascript" src="{{ url }}"></script>{% endfor %}
{% endblock %}
</body>
</html>