{% extends 'layout_vue.html' %}

{% block style %}
    {{ super() }}
    <style rel="stylesheet">
        #alert {
            width: 22rem;
            position: absolute;
            top: 1rem;
            left: 50%;
            opacity: 0;
            text-align: center;
            transform: translateX(-50%) translateY(0);
            transition: all .35s ease-out;
            z-index: 2;
        }
        #alert.shown {
            opacity: 1;
            transform: translateX(-50%) translateY(1rem);
        }
        #sign-up-form {
            transition: all .35s ease-out;
        }
        #sign-up-form.hidden {
            opacity: 0;
            transform: translateY(3rem);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="fixed-container">
    <div class="container">
        <div class="row mt-6 justify-content-center">
            <div class="col-4">
                <div id="alert" class="alert alert-danger shadow-sm" role="alert"></div>
                <form id="sign-up-form" action="/api/sign-up/{{ uid }}/" method="post">
                    <div class="p-5 border bg-white rounded">
                        <h1 class="text-100 text-center mb-5">Register</h1>
                        <div class="mb-4">
                            <label class="form-label">Username</label>
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="mb-5">
                            <label class="form-label">Password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn-green btn-block">Sign Up</button>
                        </div>
                        <div class="mb-3">
                            <a href="javascript:void(0);" onclick="return showAlert(true, 'Some message content !')">Success</a>
                        </div>
                        <div class="mb-3">
                            <a href="javascript:void(0);" onclick="return showAlert(false, 'Some message content !')">Danger</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
      let timer = null

      function b64_decode(code) {
        return decodeURIComponent(escape(window.atob(code)))
      }

      function showAlert(status, message) {
        const alert = document.getElementById('alert')
        alert.innerText = message
        alert.classList.remove('alert-success')
        alert.classList.remove('alert-danger')
        alert.classList.add(!status ? 'alert-danger' : 'alert-success')
        setTimeout(function() {
          alert.classList.add('shown')
        }, 10)

        if (!timer) {
          timer = setTimeout(function () {
            alert.classList.remove('shown')
          }, 5000)
        }
      }

      function handleSubmit(e) {
        e.preventDefault()
        e.stopPropagation()

        const form = document.getElementById('sign-up-form')
        const xhr = new XMLHttpRequest()
        let message;
        xhr.open('POST', e.target.getAttribute('action'), true)
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8")

        const request = JSON.stringify(
          {username: e.target.username.value, password: e.target.password.value}
        )

        xhr.onload = function () {

          if (this.status !== 200) {
            try {
              const resp = JSON.parse(this.response)
              message = resp['detail']
            } catch (e) {
              console.log(e)
              message = 'Error'
            }
            showAlert(false, message)

          } else {
            const resp = JSON.parse(this.response)
            form.classList.add('hidden')
            showAlert(true, resp['detail'])
          }
        }
        xhr.onerror = function () {
          try {
            const resp = JSON.parse(this.response)
            message = resp['detail']
          } catch (e) {
            console.log(e)
            message = 'Error'
          }
          showAlert(false, message)
        }
        xhr.send(request)
        return false
      }

      window.addEventListener('load', function () {
        document.forms[0].addEventListener('submit', handleSubmit)
      })
    </script>
{% endblock %}